

/* https://piccalil.li/blog/a-modern-css-reset */

/* Reset from Andy Bell */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;

    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

button,
select {
    font: inherit;
}

hr {
    margin-left: 0;
    margin-right: 0;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* Variables */

:root {
    --col-bg-accent: #f8f9fa;
    --col-secondary: #353a49;
    --col-primary: #1a73e8;

    --fs-small: 0.5rem;
    --fs-regular: 0.75rem;
    --fs-subtitle: 1.25rem;
    --fs-sm-title: 1.875rem;
    --fs-title: 2.19rem;

    --fw-regular: 400;
    --fw-bold: 700;
}

body {
  font-family: "Inter", sans-serif;
  font-size: var(--fs-regular);
  font-weight: var(--fw-regular);

  color: var(--col-secondary);
}